body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  font-family: Arial,sans-serif;
  color: white;
  
}


#snowCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.scene{
  width: 200px; /* largeur */
  height: 200px; /* La hauteur*/
  perspective: 750px; /* donne leffet 3d */
}

.cube {
  width: 100%;
  height:100%;
  position: relative; /*Le cube est relative par rpprt au cube*/
  transform-style:preserve-3d; /*Avoir un rendu 3D*/
  transition: transform 1s;
}


.cube-face {
  position: absolute; /* les faces sont places par rapport a la "scene"*/
  width: 200px;
  height: 200px;
  border: 5px solid #f2f2f2f2;
  /*background-color: rgb(51, 99, 210);*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em; 
 /* backface-visibility: hidden;  /*Si une face tourne de 180deg on veera pas son arriere plan (snn ca sera inverse)*/
  text-align: center;
  font-family: monospace;
  font-weight: bold;
}

.front {
  transform: translateZ(100px);
  background-color: rgb(184, 0, 0);
}

.back {
  transform: rotateY(180deg) translateZ(100px);
  background-color: rgb(58, 145, 58);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
  background-color: rgb(18, 199, 121);
}

.left {
    transform: rotateY(-90deg) translateZ(100px);
    background-color: rgb(237, 162, 63);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
  background-color: #0056b3;
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
  background-color: rgb(189, 51, 51);
}


.controls {
  position: fixed;
  bottom: 20px;
  display: flex;
  gap:10px;
  margin-bottom: 40px;
}

button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: black;
  border: none;
  color:white;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 5px;
  transition: background 0.5 ease;
  &:hover{
    background-color: rgb(44, 42, 42);
  }
  &:active{
    background-color: rgb(29, 27, 27);
  }
}

#message-container {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 999;
}

.message {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  opacity: 0;
  transform: scale(0.5);
  animation: pop 2.5s forwards; /*pop : L'animation pour le message*/
}

@keyframes pop {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    transform: scale(0.6);
    opacity: 1;
  }
  70% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}


